.App h1 {
  text-align: center;
}

nav {
  margin-top: -40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 5px; /* Ajusta el margen entre los botones según tu preferencia */
  font-family: 'hero-regular', sans-serif; /* Reemplaza 'hero-regular' con el nombre correcto de tu fuente */
}

.container {
  padding-top: 50px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
